<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cppdarslari">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logocpp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cppdarslari">
        <activity
            android:name=".screen.MainActivity"
            android:exported="false" />
        <activity
            android:name=".cppscreen.OopdarsActivity"
            android:exported="false" />
        <activity
            android:name=".cppscreen.CppdarsActivity"
            android:exported="false" />
        <activity
            android:name=".dasturlashtili.DasturlashActivity"
            android:exported="false" />
        <activity
            android:name=".itkompaniyalr.ItCompanyActivity"
            android:exported="false" />
        <activity
            android:name=".cppscreen.CppOOPActivity"
            android:exported="false" />
        <activity
            android:name=".cppscreen.CppBoshlangichActivity"
            android:exported="false" />
        <activity
            android:name=".screen.ExamplePhoto2"
            android:exported="false" />
        <activity
            android:name=".screen.ExamplePhotosActivity"
            android:exported="false" />
        <activity
            android:name=".screen.ExampleActivity"
            android:exported="false" />
        <activity
            android:name=".screen.ProgLenguageActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>